.user-list-container {
  display: flex;
  flex-direction: column;
}

.map {
  width: auto;
  height: 50vh;
}

.user-slideshow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
}

.arrow {
  width: 50px;
  background-color: deeppink;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
}

.user-slideshow div {
  flex: 0 1 auto;
}

.left-arrow {
  left: 5px;
}

.right-arrow {
  left: 5px;
}
