* {
  /* background: #febe10; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
} */

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
}
span {
  background-color: white;
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: white !important;
}
input {
  padding: 0.5rem;
  border: 1px solid #ff1493;
  border-radius: 0.2rem;
  width: 100%;
  background-color: white;
  height: 100%;
}
label {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
}
