.filter-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.filter-form button {
  margin-left: 1rem;
  width: 40px;
  height: 40px;
  color: #ff1493;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-form button:hover {
  color: white;
  background-color: #ff1493;
}
