.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-list-options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 450px;
}

.menu-list h3 {
  cursor: pointer;
}
