.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-list-options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: auto;
  max-height: 450px;
}
