# This is the port our server will be running on
PORT=3000

# This is the URL the server will use for the database. The example is an Atlas URL, but can be anything
MONGODB_URL=mongodb+srv://<name>:<password>@<cluster>/<dbName>?retryWrites=true&w=majority

# When running cypress tests, make sure to change the database. Our cypress will only seed/clean databases that are called cypressDatabase to protect our normal data
# MONGODB_URL=mongodb+srv://<name>:<password>@<cluster>/cypressDatabase?retryWrites=true&w=majority

# SendBird details added to client and server .env
# REACT_APP_SENDBIRD_APP_ID="63405B86-04FB-4F05-B202-1BF2A3EB2B0C"
# REACT_APP_SENDBIRD_USER_ID="1fed7362-085e-491a-b72f-6c17224ab89a"
# REACT_APP_SENDBIRD_ACCESS_TOKEN="0d79022a6ddb7de23de594d9b8d82c76ea88ee6a"