@media only screen and (min-width: 601px) {
  .nav {
    background-color: #e8b931;
    /* background-color: #e8b930; */
    z-index: 2;
    height: 100%;

    padding: 4rem 2rem 0rem 2rem;
    display: flex;
    justify-content: space-between;
  }

  .nav a {
    text-decoration: none;
    color: #424242;
    min-width: 50px;
  }

  .nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    align-items: center;
    padding: 5px;
  }
  .ul-img {
    display: none !important;
  }
  .logo {
    margin-top: -60px;
    /* width: 8vw;  */ /*unstable sizing*/
    min-width: 90px;
    height: 100px;
  }
}

.avatar-container {
  position: relative;
}

.profile-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.profile-menu button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.profile-menu button:hover {
  background-color: #f0f0f0;
}
.header-avatar {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  border: 1px solid #ff1493;
  padding: 5px;
  border-radius: 5px;
}
.header-avatar img {
  width: 40px;
  height: 40px !important;
}
.chat-icon-container {
  position: relative;
}

.chat-icon {
  font-size: 24px;
}

.chat-notification {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: #424242;
    position: fixed;
    /* background-color: #e8b930; */
    z-index: 2;
    width: 100%;
    padding: 4.5vw 1rem;
  }

  .nav a {
    color: white;
    min-width: 10px;
  }

  .nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }

  .logo {
    display: none;
  }

  .ul-text {
    display: none !important;
  }
  .ul-img {
    display: block;
    z-index: 1;
    justify-content: space-around;
  }
  .ul-img img {
    width: 10vw;
    min-width: 35px;
    max-width: 45px;
  }
}

.nav-button {
  font-size: 16px;
  background-color: #e8b931;
  color: black;
  border: none;
  margin-bottom: 10px;
  font-weight: bold;
}
